## Find Top 10 countries with highest no. of Projects

In [42]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [48]:
# Read the dataset and save it into a DataFarme
json_data = json.load((open("../../../data_wrangling_json/data/world_bank_projects.json")))
df = pd.DataFrame(json_data)

In [49]:
# Look what kind of data is present in the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null object
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(6), object(44)
memory usage: 195.4+ KB

In [50]:
# As there are 50 columns, set options to view the structure of the datafarme
pd.options.display.max_columns = 50

In [51]:
# inspect what data does all 50 columns have
print(df.head())

                                    _id approvalfy board_approval_month  \
0  {'$oid': '52b213b38594d8a2be17c780'}       1999             November
1  {'$oid': '52b213b38594d8a2be17c781'}       2015             November
2  {'$oid': '52b213b38594d8a2be17c782'}       2014             November
3  {'$oid': '52b213b38594d8a2be17c783'}       2014              October
4  {'$oid': '52b213b38594d8a2be17c784'}       2014              October

      boardapprovaldate                                 borrower  \
0  2013-11-12T00:00:00Z  FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA
1  2013-11-04T00:00:00Z                    GOVERNMENT OF TUNISIA
2  2013-11-01T00:00:00Z   MINISTRY OF FINANCE AND ECONOMIC DEVEL
3  2013-10-31T00:00:00Z   MIN. OF PLANNING AND INT'L COOPERATION
4  2013-10-31T00:00:00Z                      MINISTRY OF FINANCE

            closingdate                              country_namecode  \
0  2018-07-07T00:00:00Z  Federal Democratic Republic of Ethiopia!$!ET
1                   NaN                      Republic of Tunisia!$!TN
2                   NaN                                   Tuvalu!$!TV
3                   NaN                        Republic of Yemen!$!RY
4  2019-04-30T00:00:00Z                       Kingdom of Lesotho!$!LS

  countrycode                              countryname    countryshortname  \
0          ET  Federal Democratic Republic of Ethiopia            Ethiopia
1          TN                      Republic of Tunisia             Tunisia
2          TV                                   Tuvalu              Tuvalu
3          RY                        Republic of Yemen  Yemen, Republic of
4          LS                       Kingdom of Lesotho             Lesotho

                                               docty envassesmentcategorycode  \
0  Project Information Document,Indigenous People...                        C
1  Project Information Document,Integrated Safegu...                        C
2  Resettlement Plan,Environmental Assessment,Int...                        B
3  Procurement Plan,Project Information Document,...                        C
4  Project Information Document,Integrated Safegu...                        B

   grantamt  ibrdcommamt       id  idacommamt  \
0         0            0  P129828   130000000
1   4700000            0  P144674           0
2         0            0  P145310     6060000
3   1500000            0  P144665           0
4         0            0  P144933    13100000

                                  impagency                  lendinginstr  \
0                     MINISTRY OF EDUCATION  Investment Project Financing
1                       MINISTRY OF FINANCE      Specific Investment Loan
2  MINISTRY OF TRANSPORT AND COMMUNICATIONS  Investment Project Financing
3  LABOR INTENSIVE PUBLIC WORKS PROJECT PMU     Technical Assistance Loan
4            MINISTRY OF TRADE AND INDUSTRY  Investment Project Financing

  lendinginstrtype  lendprojectcost  \
0               IN        550000000
1               IN          5700000
2               IN          6060000
3               IN          1500000
4               IN         15000000

                                 majorsector_percent  \
0  [{'Percent': 46, 'Name': 'Education'}, {'Perce...
1  [{'Percent': 70, 'Name': 'Public Administratio...
2       [{'Percent': 100, 'Name': 'Transportation'}]
3  [{'Percent': 100, 'Name': 'Health and other so...
4  [{'Percent': 50, 'Name': 'Industry and trade'}...

                                   mjsector_namecode  \
0  [{'code': 'EX', 'name': 'Education'}, {'code':...
1  [{'code': 'BX', 'name': 'Public Administration...
2         [{'code': 'TX', 'name': 'Transportation'}]
3  [{'code': 'JX', 'name': 'Health and other soci...
4  [{'code': 'YX', 'name': 'Industry and trade'},...

                                             mjtheme  \
0                                [Human development]
1  [Economic management, Social protection and ri...
2  [Trade and integration, Public sector governan...
3  [Social dev/gender/inclusion, Social dev/gende...
4  [Trade and integration, Financial and private ...

                                    mjtheme_namecode mjthemecode prodline  \
0  [{'code': '8', 'name': 'Human development'}, {...        8,11       PE
1  [{'code': '1', 'name': 'Economic management'},...         1,6       RE
2  [{'code': '5', 'name': 'Trade and integration'...    5,2,11,6       PE
3  [{'code': '7', 'name': 'Social dev/gender/incl...         7,7       RE
4  [{'code': '5', 'name': 'Trade and integration'...         5,4       PE

                    prodlinetext productlinetype  \
0                       IBRD/IDA               L
1  Recipient Executed Activities               L
2                       IBRD/IDA               L
3  Recipient Executed Activities               L
4                       IBRD/IDA               L

                                    project_abstract  \
0  {'cdata': 'The development objective of the Se...
1                                                NaN
2                                                NaN
3                                                NaN
4  {'cdata': 'The development objective of the Se...

                                        project_name  \
0  Ethiopia General Education Quality Improvement...
1          TN: DTF Social Protection Reforms Support
2  Tuvalu Aviation Investment Project - Additiona...
3   Gov't and Civil Society Organization Partnership
4  Second Private Sector Competitiveness and Econ...

                                         projectdocs projectfinancialtype  \
0  [{'DocDate': '28-AUG-2013', 'EntityID': '09022...                  IDA
1  [{'DocDate': '29-MAR-2013', 'EntityID': '00033...                OTHER
2  [{'DocDate': '21-OCT-2013', 'EntityID': '00033...                  IDA
3  [{'DocDate': '15-MAY-2013', 'EntityID': '00035...                OTHER
4  [{'DocDate': '06-SEP-2013', 'EntityID': '09022...                  IDA

  projectstatusdisplay                    regionname  \
0               Active                        Africa
1               Active  Middle East and North Africa
2               Active         East Asia and Pacific
3               Active  Middle East and North Africa
4               Active                        Africa

                                              sector  \
0  [{'Name': 'Primary education'}, {'Name': 'Seco...
1  [{'Name': 'Public administration- Other social...
2  [{'Name': 'Rural and Inter-Urban Roads and Hig...
3                [{'Name': 'Other social services'}]
4  [{'Name': 'General industry and trade sector'}...

                                             sector1  \
0       {'Percent': 46, 'Name': 'Primary education'}
1  {'Percent': 70, 'Name': 'Public administration...
2  {'Percent': 100, 'Name': 'Rural and Inter-Urba...
3  {'Percent': 100, 'Name': 'Other social services'}
4  {'Percent': 50, 'Name': 'General industry and ...

                                             sector2  \
0     {'Percent': 26, 'Name': 'Secondary education'}
1  {'Percent': 30, 'Name': 'General public admini...
2                                                NaN
3                                                NaN
4          {'Percent': 40, 'Name': 'Other industry'}

                                             sector3  \
0  {'Percent': 16, 'Name': 'Public administration...
1                                                NaN
2                                                NaN
3                                                NaN
4             {'Percent': 10, 'Name': 'SME Finance'}

                                         sector4  \
0  {'Percent': 12, 'Name': 'Tertiary education'}
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN

                                     sector_namecode   sectorcode source  \
0  [{'code': 'EP', 'name': 'Primary education'}, ...  ET,BS,ES,EP   IBRD
1  [{'code': 'BS', 'name': 'Public administration...        BZ,BS   IBRD
2  [{'code': 'TI', 'name': 'Rural and Inter-Urban...           TI   IBRD
3  [{'code': 'JB', 'name': 'Other social services'}]           JB   IBRD
4  [{'code': 'YZ', 'name': 'General industry and ...     FH,YW,YZ   IBRD

   status supplementprojectflg  \
0  Active                    N
1  Active                    N
2  Active                    Y
3  Active                    N
4  Active                    N

                                              theme1  \
0      {'Percent': 100, 'Name': 'Education for all'}
1  {'Percent': 30, 'Name': 'Other economic manage...
2    {'Percent': 46, 'Name': 'Regional integration'}
3  {'Percent': 50, 'Name': 'Participation and civ...
4  {'Percent': 30, 'Name': 'Export development an...

                                      theme_namecode    themecode   totalamt  \
0      [{'code': '65', 'name': 'Education for all'}]           65  130000000
1  [{'code': '24', 'name': 'Other economic manage...        54,24          0
2  [{'code': '47', 'name': 'Regional integration'...  52,81,25,47    6060000
3  [{'code': '57', 'name': 'Participation and civ...        59,57          0
4  [{'code': '45', 'name': 'Export development an...        41,45   13100000

   totalcommamt                                                url
0     130000000  http://www.worldbank.org/projects/P129828/ethi...
1       4700000  http://www.worldbank.org/projects/P144674?lang=en
2       6060000  http://www.worldbank.org/projects/P145310?lang=en
3       1500000  http://www.worldbank.org/projects/P144665?lang=en
4      13100000  http://www.worldbank.org/projects/P144933/seco...

A lot of columns has nested data. However, 'countryname' is not nested and should not be a problem for finding top 10 countries.

In [52]:
# Total count of projects for each country
project_count_per_country = df.countryname.value_counts()

In [53]:
# Top 10 countries with maximum projects are
top10_project_count = project_count_per_country.head(10)
print(top10_project_count)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

## Find the top 10 major project themes (using column 'mjtheme_namecode')

In [54]:
# import required libraries
import pandas as pd
import json
from pandas.io.json import json_normalize

In [55]:
# Load the json data and save it in a dataframe
json_data = json.load((open("../../../data_wrangling_json/data/world_bank_projects.json")))

In [56]:
# As 'mjtheme_namecode' is a nested column, flatten it and save
df = json_normalize(json_data, 'mjtheme_namecode')
print(df.head(20))

   code                                          name
0     8                             Human development
1    11
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8
18   10                             Rural development
19    7

In [58]:
# Some major theme names have empty value, major theme code can be used to count the occurrence of each major theme
grouped = df.groupby('code').count()

In [59]:
# Set the name of the column with count result
grouped.columns = ['theme_count']

In [60]:
# Get the top 10 theme codes
top_mjcode_df = grouped.reset_index().sort_values('theme_count', ascending=False)[:10]
print(top_mjcode_df)

   code  theme_count
2    11          250
1    10          216
9     8          210
3     2          199
7     6          168
5     4          146
8     7          130
6     5           77
10    9           50
0     1           38

In [73]:
# Get the corresponding major theme names
top_mjtheme_df = df[df['code'].isin(top_mjcode_df['code'])]
print(top_mjtheme_df['name'].unique())

['Human development' 'Environment and natural resources management'
 'Economic management' 'Social protection and risk management'
 'Trade and integration' 'Public sector governance'
 'Social dev/gender/inclusion' 'Financial and private sector development'
 'Rural development' 'Urban development']

In [77]:
# Save the total count of each project name:
project_count_per_theme = df.name.value_counts()

# Save the top ten:
top10_theme_count = project_count_per_theme.head(10)
print(top10_theme_count)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64

## In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [64]:
# import required libraries
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [65]:
# read the file and load into a dataframe
json_data = json.load((open("../../../data_wrangling_json/data/world_bank_projects.json")))
df = json_normalize(json_data, 'mjtheme_namecode')

In [66]:
# sort the data by code, as it is easy to find missing values
df = df.sort_values(['code', 'name'])
print(df.head(10))

     code                 name
212     1
363     1
1024    1
1114    1
1437    1
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management

In [67]:
# Replace the empty values with NaN
df.name[df['name'] == ''] = np.nan
print(df.head(10))

     code                 name
212     1                  NaN
363     1                  NaN
1024    1                  NaN
1114    1                  NaN
1437    1                  NaN
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management

In [80]:
# Sort the values so that values with same code are togeather and values with None are ordered togeather
df = df.sort_values(['code', 'name'])

In [81]:
# Replace the nan values using forward fill method and display teh dataframe with code and name with missing names filled
df_complete = df.ffill().sort_index()
print(df_complete.head(10))

  code                                          name
0    8                             Human development
1   11  Environment and natural resources management
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

## SUMMARY

## Top 10 countries with maximum no. of projects

In [72]:
print(top10_project_count)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

## Top 10 major project themes

In [78]:
print(top10_theme_count)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64

## Dataframe with filled missing values of 'code' and 'name' columns

In [82]:
print(df_complete.head(10))

  code                                          name
0    8                             Human development
1   11  Environment and natural resources management
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion